<div class="issueWrap pointer">
	<div class="issueHeader">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<div class="issuePriority"  
						style="background-color:<%= priority_id.color %>;">
					</div>
				</div>
				<div class="col-xs-6">
					<div class="issueStatus" style="background-color:<%= status_id.color %>"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="issueBody">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<span class="glyphicon glyphicon-fire"></span> [<%= project_id.name%>] <%= subject %>
				</div>
			</div>
		</div>
	</div>

	<div class="issueFooter">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<span class="issueTime pull-left">
					<%= spent_time %> 
					/ 
					<% if(typeof estimated_hours == 'undefined'){
							print('0');
						}else{
							print(estimated_hours);
						} %> h
					</span>
					<span class="issueDate pull-right">
						<% if(typeof start_date != 'undefined')
							print(Date.parse(start_date).toString('dd.MM')) %> - 
						<% if(typeof due_date != 'undefined'){ 
								var due = Date.parse(due_date);
								print(due.toString('dd.MM.yyyy')) 
								if(Date.today().compareTo(due) == 1){ %>
								<span class="glyphicon glyphicon-exclamation-sign"></span>

						<%		}
							}else{
								print('Future');
							} %>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
