<!-- Modal -->
<div class="modal fade issueDetail" id="issueDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header clearfix">
			<button type="button" class="close pull-right" aria-hidden="true">&times;</button>

			<!--
			<span class="glyphicon glyphicon-remove pull-right pointer close" style="z-index: 5" data-dismiss="modal"></span> -->

			<div class="container-fluid">
				<div class="row row-close">	

					<div class="priorityWrap wrap col-xs-6 col-sm-4">
						<div class="priorityColor" style="background-color:<%= priority_id.color%>">
							<div class="dropdown-toggle editPriority edit" data-toggle="dropdown">
								<span class="priorityText"><%= priority_id.name%></span> <span class="caret"></span> 
							</div>
							<ul class="dropdown-menu" role="menu">

									<% 
									_(issuePriorities).each(function(item){
										%>
											<li>
											<a class="changePriority" value="<%= item.id %>"><%= item.name %></a>
											</li>
												
										<%
									})
								%>
							</ul>
						</div>
					</div>

					<div class="statusWrap wrap col-xs-6 col-sm-4">
						<div class="statusColor" style="background-color:<%= status_id.color%>">
							<div class="dropdown-toggle editStatus edit" data-toggle="dropdown">
								<span class="statusText"><%= status_id.name%></span> <span class="caret"></span>
							</div>
							<ul class="dropdown-menu" role="menu">

								<% 
									_(issueStatuses).each(function(item){
										%>
											<li>
											<a class="changeStatus" value="<%= item.id %>"><%= item.name %></a>
											</li>
												
										<%
									})
								%>
							</ul>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="projectWrap col-lg-12">
						<span class="projectText"><b><%= project_id.name %></b></span>
					</div>
				</div>

				<div class="row">
					<div class="subjectWrap col-lg-12">
						<div class="subject edit"><%= subject%>
						</div>
						<div class="subjectInputWrap" style="display:none">
							<div class="form-group">
								<input type="text" class="form-control subjectInput" value="<%= subject%>">
							</div>
							<button class="btn btn-primary submitSubject">Done</button>
							<button class="btn btn-danger closeSubject"><span class="glyphicon glyphicon-remove"></button>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="trackerWrap wrap col-xs-6">
						<div class="dropdown-toggle editTracker edit" data-toggle="dropdown">
							<span class="trackerText"><%= tracker_id.name%></span> <span class="caret"></span>
						</div>
						<ul class="dropdown-menu" role="menu">

							<% 
								_(trackers).each(function(item){
									%>
										<li>
										<a class="changeTracker" value="<%= item.id %>"><%= item.name %></a>
										</li>
											
									<%
								})
							%>
						</ul>
					</div>

					<div class="userWrap wrap col-xs-6 clearfix">
						<div class="dropdown-toggle editUser edit pull-right" data-toggle="dropdown">
							<span class="userText"><%= assigned_to_id.name%></span>
							<span class="caret"></span>
						</div>
						
						<ul class="dropdown-menu pull-right" role="menu">

							<% 
								_(users).each(function(item){
									%>
										<li>
										<a class="changeUser" value="<%= item.id %>"><%= item.name %></a>
										</li>
											
									<%
								})
							%>
						</ul>
					</div>
				</div>


			</div>
		</div>

		<div class="modal-body clearfix">

			<div class="container-fluid">
				

				<div class="row">
					<div class="dueDateWrap col-lg-6">
						<div class="row">

							<div class="detailLabel col-lg-6">
								<span class="glyphicon glyphicon-time pomegranate"></span> Due date
							</div>
							<div class="pickDueDateWrap">
								<span class="pickDueDate pointer">
									<span class="dueDateText">
										<% if(typeof due_date!='undefined'){
												print(due_date);
											}else{
												print('Select');
											}
											%>
									</span>
									<input type="text" class="dueDateInput">
									<span class="caret"></span>
								</span>
							</div>
						</div>

						<div class="row">
							<div class="detailLabel col-lg-6">
								<span class="glyphicon glyphicon-time nephirits"></span> Start date
							</div>
							<div class="startDateWrap">
									<span class="startDateText">
										<% if(typeof start_date!='undefined'){
												print(start_date);
											}else{
												print('none');
											}
											%>
									</span>
							</div>
						</div>
					</div>

					<div class="timeSpentWrap col-lg-6">
						<div class="row">
							<div class="detailLabel col-lg-6">
								<span class="glyphicon glyphicon-ok-circle"></span> Spent time
							</div>
							<span class="timeSpentText">
								<%= _(times).reduce(function(mem, item){
									return mem+item.hours;
								},0) %>
							</span>
						</div>

						<div class="row">
							<div class="timeWrap col-lg-12">
								<a class="addTime"> 
									<span class="glyphicon glyphicon-plus"></span> Add time activity
								</a>
								<div class="timeInputWrap" style="display:none">
									<div class="form-group">
										<input type="text" class="form-control timeHoursInput" placeholder="Hours">
									</div>
									<div class="form-group">
										<input type="text" class="form-control timeDateInput" placeholder="Date" 
										value="<%= Date.today().toString('yyyy-MM-dd') %>">
									</div>
									<div class="form-group">
										<select class="form-control timeActivityInput">
										<%
											_(activities).each(function(item){
												%>
												<option value="<%= item.id%>"><%= item.name %></option>
												<%
											})
										%>
										</select>
									</div>
									<div class="form-group">
										<input type="text" class="form-control timeCommentsInput" placeholder="Comment">
									</div>
									<button class="btn btn-primary submitTime">Done</button>
									<button class="btn btn-danger closeTime"><span class="glyphicon glyphicon-remove"></button>
								</div> 
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="descriptionWrap col-lg-12">
						<a class="changeDescription"><span class="glyphicon glyphicon-pencil"></span> Edit issue description</a>
						<div class="descriptionInputWrap" style="display:none">
							<div class="form-group">
								<textarea class="form-control descriptionInput" rows="3"><%= description%></textarea>
							</div>
							<button class="btn btn-primary submitDescription">Done</button>
							<button class="btn btn-danger closeDescription"><span class="glyphicon glyphicon-remove"></button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-7 form-group">
						<input class="form-control commentInput" placeholder="Add comment"
						style="<% if(typeof id == 'undefined')print('display:none'); %>">
					</div>

					<div class="col-md-5 saveInput" style="display:none">
						<button class="btn btn-primary saveChanges">Save</button>
						<button class="btn btn-danger forgetChanges">Throw away</button>
					</div>
				</div>

				<div class="row">
					<div class="journalsWrap col-lg-12">
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>

